p {
  color:#9DB4C0; text-align:center; font-size:100%; font-family: 'bree serif'
}
body
{ background-image: url(https://images.unsplash.com/photo-1521412644187-c49fa049e84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80); background-repeat: no-repeat; background-size: cover;
}
ul {
  color:#9DB4C0; font-size:200%; font-family: 'helvetica'
}
